.footer {
  padding-top: $gap-24;
  border-top: 1px solid $clr-neutral-swirl;
  &__wrapper {
    @include grid-container(desktop-up);
    row-gap: $gap-16;
  }

  &__title {
    color: $clr-dark-ebony;
    font-family: $ff-merriweather;
    font-weight: $fw-bold;
    margin-bottom: $gap-6;
  }

  &__office {
    grid-column: 2 / 6;
    &__title {
    }
    &__address {
    }
  }

  &__social {
    grid-column: 7 / 9;
    &__list {
      @extend %list-reset;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: $gap-5;
      }
      @extend %item-reset;
    }
    &__link {
      @extend %link-reset;
    }
  }

  &__menu {
    grid-column: 12 / 14;
    &__list {
      @extend %list-reset;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: $gap-5;
      }
      @extend %item-reset;
    }
    &__link {
      @extend %link-reset;
      font-size: $fs-lg;
      font-weight: $fw-sb;
    }
  }

  &__email {
    grid-column: 2 / 7;
    &__title {
    }
    &__address {
      @extend %title-lg;
      text-decoration: underline;
    }
  }

  &__allrights {
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-between;
    padding-block: $gap-12;
    border-top: 1px solid $clr-neutral-swirl;

    &__brand {
    }
    &__copyright {
    }
  }
}
