.footer {
  border-top: 1px solid $clr-neutral-swirl;
  padding-top: $gap-12;

  @include for-size(tablet-portrait-up) {
    padding-top: $gap-16;
  }

  @include for-size(desktop-up) {
    padding-top: $gap-24;
  }

  &__wrapper {
    @include grid-container(phone-only);
    row-gap: $gap-16;

    @include for-size(tablet-portrait-up) {
      @include grid-container(tablet-portrait-up);
    }

    @include for-size(desktop-up) {
      @include grid-container(desktop-up);
    }
  }

  &__title {
    color: $clr-dark-ebony;
    font-family: $ff-merriweather;
    font-size: $fs-sm;
    font-weight: $fw-bold;
    margin-bottom: 0.8rem;

    @include for-size(tablet-portrait-up) {
      margin-bottom: $gap-4;
    }

    @include for-size(desktop-up) {
      margin-bottom: $gap-5;
    }
  }

  &__office {
    font-size: $fs-base;
    grid-column: 1 / -1;

    @include for-size(tablet-portrait-up) {
      grid-column: 2 / 4;
    }

    @include for-size(desktop-up) {
      grid-column: 2 / 6;
    }

    // &__title {
    // }

    // &__address {
    // }
  }

  &__social {
    font-size: $fs-base;
    grid-column: 1 / -1;

    @include for-size(tablet-portrait-up) {
      grid-column: 4 / 5;
    }

    @include for-size(desktop-up) {
      grid-column: 6 / 8;
    }

    &__list {
      @extend %list-reset;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0.25rem;

        @include for-size(tablet-portrait-up) {
          margin-bottom: 0.5rem;
        }

        @include for-size(desktop-up) {
          margin-bottom: 0.75rem;
        }
      }
      @extend %item-reset;
    }

    &__link {
      @extend %link-reset;
    }
  }

  &__menu {
    display: none;

    @include for-size(tablet-portrait-up) {
      grid-column: 1 / -1;
    }

    @include for-size(desktop-up) {
      display: block;
      grid-column: 12 / 14;
    }

    &__list {
      @extend %list-reset;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
      @extend %item-reset;
    }

    &__link {
      @extend %link-reset;
      font-size: $fs-lg;
      font-weight: $fw-bold;
    }
  }

  &__email {
    grid-column: 1 / -1;

    @include for-size(tablet-portrait-up) {
      grid-column: 2 / -2;
    }

    @include for-size(desktop-up) {
      grid-column: 2 / 7;
    }

    // &__title {
    // }

    &__address {
      @extend %title-lg;
      text-decoration: underline;
    }
  }

  &__allrights {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $clr-neutral-swirl;
    grid-column: 1 / -1;
    padding-block: $gap-4;

    @include for-size(tablet-portrait-up) {
      grid-column: 2 / -2;
      padding-block: $gap-6;
    }

    @include for-size(desktop-up) {
      padding-block: $gap-8;
    }

    // &__brand {
    // }

    // &__copyright {
    // }
  }
}
