header
  nav.navigation
    .navigation__wrapper
      .navigation__bar
        a.navigation__brand(href='/') Brand

        label.navigation__label(for='check')
          span
          span
          span

  include ./menu
