$clr-neutral-white: #ffffff;
$clr-neutral-peach: #fff6ed;
$clr-neutral-derby: #eae2da;
$clr-neutral-swirl: #dad2cb;
$clr-dark-tundora: #4a4a4a;
$clr-dark-ebony: #101828;
$clr-accent-brand: rgb(255, 82, 82);

$ff-raleway: 'Raleway', sans-serif;
$ff-merriweather: 'Merriweather', serif;

$fs-base: 1rem;
$fs-md: 1.125rem;
$fs-lg: 1.5rem;
$fs-xl: 2.25rem;
$fs-2xl: 3rem;
$fs-3xl: 4rem;
$fs-4xl: 6rem;

$fw-light: 300;
$fw-reg: 400;
$fw-sb: 600;
$fw-bold: 700;

$gap-4: 1rem;
$gap-5: 1.125rem;
$gap-6: 1.5rem;
$gap-8: 2rem;
$gap-12: 3rem;
$gap-16: 4rem;
$gap-24: 6rem;

$z-indexes: ('preloader', 'navigation', 'navbar', 'menu', 'content');
