.contact {
  font-size: $fs-md;
  font-feature-settings: 'lnum';

  &__wrapper {
    @include grid-container(phone-only);

    @include for-size(tablet-portrait-up) {
      @include grid-container(tablet-portrait-up);
    }

    @include for-size(desktop-up) {
      @include grid-container(desktop-up);
    }
  }

  // &__title,
  // &__service,
  // &__form,
  // &__info {
  //   grid-column: 1 / -1;

  //   @include for-size(tablet-portrait-up) {
  //     grid-column: 2 / -2;
  //   }

  //   @include for-size(desktop-up) {
  //     grid-column: 5 / -4;
  //   }
  // }

  &__main,
  &__header {
    grid-column: 1 / -1;

    @include for-size(tablet-portrait-up) {
      grid-column: 2 / -2;
    }

    @include for-size(desktop-up) {
      grid-column: 5 / -4;
    }
  }

  &__header {
    @include for-size(desktop-up) {
      grid-column: 3 / 4;
    }
  }

  &__main {
    & > * + * {
      margin-top: $gap-16;
    }

    @include for-size(tablet-portrait-up) {
      & > * + * {
        margin-top: $gap-24;
      }
    }
  }

  &__title {
    @extend %title-2xl;
    font-family: $ff-raleway;
    text-align: center;
    line-height: 1.2;

    @include for-size(desktop-up) {
      font-size: $fs-4xl;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 10px;
      writing-mode: vertical-rl;
      align-self: center;
      transform: rotate(-180deg);
      position: absolute;
    }
  }

  &__service {
    margin-top: $gap-12;
    @extend %title-lg;

    @include for-size(tablet-portrait-up) {
      margin-top: $gap-24;
    }

    @include for-size(desktop-up) {
      margin-top: unset;
      font-size: $fs-xl;
    }
  }

  &__form {
    display: grid;
    @include grid(phone-only);

    @include for-size(tablet-portrait-up) {
      @include grid(tablet-portrait-up);
    }

    @include for-size(desktop-up) {
      grid-template-columns: repeat(6, 78px);
      gap: $gap-6;
    }
  }

  &__field {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: $gap-6;
    }

    @include for-size(tablet-portrait-up) {
      &:not(:first-child) {
        margin-top: $gap-8;
      }
    }

    &__label {
      text-transform: uppercase;
    }

    &__input,
    &__textarea {
      &::placeholder {
        color: rgb(195, 195, 195);
        font-style: italic;
      }
      color: $clr-dark-tundora;
      background-color: transparent;
      font-family: $ff-raleway;
      margin-top: $gap-4;
      padding: 0.5rem 0.5rem;
      border: none;
      border-bottom: 1px solid $clr-dark-ebony;
    }
  }

  &__submit {
    margin-top: $gap-16;
    grid-column: 1 / -1;

    @extend %button;
    @extend %title-xl;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  &__info {
    & > * + * {
      margin-top: $gap-8;
    }

    @include for-size(tablet-portrait-up) {
      & > * + * {
        margin-top: $gap-12;
      }

      font-size: $fs-md;
    }

    @include for-size(desktop-up) {
      font-size: $fs-lg;
    }
  }

  // &__address {
  // }

  // &__phone {
  // }

  // &__email {
  // }
}
