.home {
  @extend %cover;
  &__wrapper {
  }

  &__gallery {
    position: relative;
    visibility: hidden;
  }

  &__media {
    position: absolute;
    &:nth-child(1) {
      width: 40.4375rem;
      height: 19.125rem;
      top: -13.5rem;
      left: 3.4375rem;
    }

    &:nth-child(2) {
      width: 19.125rem;
      height: 33.375rem;
      top: -20.625rem;
      left: 46.125rem;
    }

    &:nth-child(3) {
      width: 19.125rem;
      height: 31rem;
      top: -4rem;
      left: 67.5rem;
    }

    &:nth-child(4) {
      width: 33.375rem;
      height: 33.375rem;
      top: 7.875rem;
      left: 3.4375rem;
    }

    &:nth-child(5) {
      width: 26.25rem;
      height: 12rem;
      top: 15rem;
      left: 39rem;
    }

    &:nth-child(6) {
      width: 26.25rem;
      height: 12rem;
      top: 29.25rem;
      left: 60.4375rem;
    }

    &:nth-child(7) {
      width: 19.125rem;
      height: 19.125rem;
      top: 29.25rem;
      left: 39.0625rem;
    }

    &:nth-child(8) {
      width: 19.125rem;
      height: 26.25rem;
      top: 43.5rem;
      left: 3.4375rem;
    }

    &:nth-child(9) {
      width: 40.5rem;
      height: 19.125rem;
      top: 50.625rem;
      left: 24.75rem;
    }

    &:nth-child(10) {
      width: 19.125rem;
      height: 26.25rem;
      top: 43.5rem;
      left: 67.5rem;
    }

    &__image {
      @extend %cover;
    }
  }

  &__heading {
    @extend %title-4xl;
    font-family: $ff-raleway;
    font-weight: $fw-sb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }

  &__button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
  }
}
