extends ../base.pug

block variables
  - var template = 'home'

block body
  section.home
    .home__wrapper
      .home__gallery
        each media in home.gallery
          figure.home__media
            img.home__media__image(data-src=media.image.url, alt=media.image.alt)
      h1.home__heading= home.title
      a.home__button(href=ctx.prismicH.asLink(home.link))= home.label
