%title-lg {
  color: $clr-dark-ebony;
  font-family: $ff-merriweather;
  font-size: $fs-lg;

  @include for-size(desktop-up) {
    font-size: $fs-xl;
  }
}

%title-xl {
  color: $clr-dark-ebony;
  font-family: $ff-merriweather;
  font-size: $fs-xl;
  line-height: 1.4;

  @include for-size(desktop-up) {
    font-size: $fs-2xl;
  }
}

%title-2xl {
  color: $clr-dark-ebony;
  font-family: $ff-merriweather;
  font-size: $fs-2xl;
  line-height: 1;

  @include for-size(desktop-up) {
    font-size: $fs-3xl;
  }
}

%title-4xl {
  color: $clr-dark-ebony;
  font-family: $ff-merriweather;
  font-size: $fs-2xl;
  font-weight: $fw-reg;
  line-height: 1;

  @include for-size(desktop-up) {
    font-size: $fs-4xl;
  }
}
